// Project specific modifications
h1 {
  padding-bottom: 36px;
}

h2 {
  padding-bottom: 24px;
}

main {
  line-height: 1.75em;
  font-size: 18px;
}

p::selection {
  background: #d1b3ff;
}
p::-moz-selection {
  background: #d1b3ff;
}
