// Project colors
$violet: #b366ff;
$mature-violet: #7a32b2;
$night-violet: #5a32b2;
$dark-magenta: #9a32b2;
$blue: #1a75ff;
$green: #00cc00;
$pink: #ff4d94;

// Project specific configs
$is-size-main: 18px;
$is-size-aside: 16px;

// tag colors
$neurons: $mature-violet;

// responsive dimensions
$desktop: 1140px;  // desktop, laptops
$tablet: 768px;    // medium tablets and large phones
$mobile: 600px;    // mobile
